.maxwidth {
	width: 100%;
}

.maxwidth_maxheight {
	width: 100%;
	height: 100%;
}

html {
	display: flex;
	background-color: white;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.banner {
	width: 100%;
	height: 100%;
	max-height: 1920px;
	min-width: 400px;
	min-height: 220px;
	background-image: url(images/banner/banner_background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-position: center;
}

@media (min-width: 400px), (min-height: 220px) {
	.banner {
		background-size: cover;
	}
}

.banner .logo {
	display: block;
	width: 68px;
	height: 57px;
	position: absolute;
	top: 30px;
	left: 30px;
	background-image: url(icons/logo.png);
	font-size: 0;
}

.banner .menu_button {
	display: block;
	width: 14px;
	height: 10px;
	top: 30px;
	right: 30px;
	position: absolute;
	padding: 0;
	border: none;
	background: none;
	background-image: url(icons/dropdown_menu_icon.png);
	font-size: 0;
}

.banner .auth_buttons {
	color: white;
	position: absolute;
	padding: 0;
	border: none;
	background: none;
}

.banner .signup {
	color: white;
	position: absolute;
	padding: 0;
	border: none;
	background: none;
	top: 25px;
	right: 60px;
}

.banner .login {
	color: white;
	position: absolute;
	padding: 0;
	border: none;
	background: none;
	top: 25px;
	right: 130px;
}

.banner .greeting {
	margin-top: 20%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-self: center;
	align-items: center;
}

.banner .greeting h1 {
	color: white;
}

.banner .greeting h2 {
	color: lightgrey;
}

.banner .greeting button {
	background-color: #f69679;
	padding: 15px 32px;
	color: white;
	border: none;
}

.banner .greeting h3 {
	color: lightgrey;
	text-align: center;
}

main {
	width: 100%;
	display: flex;
	height: fit-content;
	margin-top: 8%;
	flex-direction: column;
	padding: 0;
}

main .promo {
	width: 100%;
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8%;
}

main .promo .promo_block {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
}

main .promo .promo_block h3 {
	position: relative;
	text-align: center;
}

main .promo .promo_block p {
	position: relative;
	text-align: center;
}

main .promo .icon_burger {
	display: block;
	font-size: 0;
	width: 107px;
	height: 107px;
	background-repeat: no-repeat;
	background-image: url(icons/burger_icon.png);
}

main .promo .icon_money {
	display: block;
	font-size: 0;
	width: 107px;
	height: 107px;
	background-repeat: no-repeat;
	background-image: url(icons/money_icon.png);
}

main .promo .icon_cook {
	display: block;
	font-size: 0;
	width: 107px;
	height: 107px;
	background-repeat: no-repeat;
	background-image: url(icons/cook_icon.png);
}

main .app_ad {
	width: 100%;
	display: flex;
	align-items: column;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

main .app_ad .phone {
	width: 100%;
	height: 100%;
	margin-left: 5%;
	display: flex;
	background-image: url(images/phone/iphone_combined_image_2.png);
	background-size: 100%;
	height: 790px;
	flex-shrink: 0.5;
	flex-grow: 0.5;
	margin-bottom: 0;
	align-self: center;
	max-width: 400px;
	max-height: 700px;
	min-height: 200px;
	min-width: 150px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-position: center;
}

@media (min-width: 250px), (min-height: 458px) {
	main .app_ad .phone {
		background-size: 100%;
	}
}

main .app_ad .ad {
	display: flex;
	width: 100%;
	min-width: 400px;
	align-items: center;
	flex-direction: column;
}

main .app_ad .ad .ad_wrapper {
	padding: 10%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

main .app_ad .ad h3 {
	margin-top: 10%;
	position: relative;
	text-align: center;
}

main .app_ad .ad p {
	width: 50%;
	position: relative;
	text-align: center;
}

main .app_ad .ad .links {
	width: 50%;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

main .app_ad .ad .links .appstore_icon {
	display: block;
	background-image: url(icons/appstore_icon.png);
	font-size: 0;
	width: 112px;
	height: 39px;
}

main .app_ad .ad .links .googleplay_icon {
	display: block;
	background-image: url(icons/googleplay_icon.png);
	font-size: 0;
	width: 120px;
	height: 39px;
}

main .review {
	width: 100%;
	margin-top: 0;
	display: flex;
	height: 80%;
	min-height: 462px;
	background-color: #5b6869;
	background-image: url(images/review/review_background_image.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-blend-mode: overlay;
	align-items: center;
	flex-direction: column;
	align-self: center;
	justify-content: space-between;
}

main .review .authors_photo {
	margin-top: 5%;
	display: block;
	width: 106px;
	height: 106px;
	border-radius: 50%;
	background-image: url(images/review/michael_dawson_image.png);
}

main .review .review_box {
	width: 100%;
	height: 50%;
	display: flex;
	align-items: center;
	align-self: center;
	flex-direction: column;
}

main .review .review_box h3 {
	color: lightgray;
	text-align: center;
}

main .review .review_box h4 {
	color: lightgray;
	text-align: center;
}

main .review .buttons {
	position: relative;
	display: block;
	width: 52px;
	height: 13px;
	background-image: url(icons/buttons.png);
	margin-bottom: 5%;
}

main .recipes {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
}

main .recipes h3 {
	text-align: center;
}

main .recipes .cuisines {
	display: flex;
	flex-basis: 5;
	max-width: 1600px;
	padding: 0;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

main .recipes .cuisines .cuisine_block {
	width: 100%;
	height: 100%;
	flex: 1 0 18%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

main .recipes .cuisines .cuisine_block h2 {
	color: white;
	text-align: center;
}

main .recipes .cuisines .cuisine_block h4 {
	color: white;
	text-align: center;
}

main .recipes .italian {
	display: block;
	width: 250px;
	height: 180px;
	background-image: url(images/cuisines/cuisine_italian.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-position: center;
}

main .recipes .indian {
	display: block;
	width: 250px;
	height: 180px;
	background-image: url(images/cuisines/cuisine_indian.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-position: center;
}

main .recipes .french {
	display: block;
	width: 250px;
	height: 180px;
	background-image: url(images/cuisines/cuisine_french.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-position: center;
}

main .recipes .steakhouse {
	display: block;
	width: 250px;
	height: 180px;
	background-image: url(images/cuisines/cuisine_steakhouse.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-position: center;
}

main .recipes .seafood {
	display: block;
	width: 250px;
	height: 180px;
	background-image: url(images/cuisines/cuisine_seafood.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-position: center;
}

main .recipes .sushi {
	display: block;
	width: 250px;
	height: 180px;
	background-image: url(images/cuisines/cuisine_sushi.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-position: center;
}

main .recipes .mexican {
	display: block;
	width: 250px;
	height: 180px;
	background-image: url(images/cuisines/cuisine_mexican.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-position: center;
}

main .recipes .chinese {
	display: block;
	width: 250px;
	height: 180px;
	background-image: url(images/cuisines/cuisine_chinese.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-position: center;
}

main .recipes .pizza {
	display: block;
	width: 250px;
	height: 180px;
	background-image: url(images/cuisines/cuisine_pizza.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-position: center;
}

main .recipes .american {
	display: block;
	width: 250px;
	height: 180px;
	background-image: url(images/cuisines/cuisine_american.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-position: center;
}

main .recipes .stats {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: center;
}

main .recipes .stats .stat_block {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
}

main .recipes .stats .stat_block h1 {
	font-size: medium;
	color: black;
	margin-bottom: 0;
}

main .recipes .stats .stat_block h3 {
	font-size: medium;
	color: lightgray;
}

footer {
	width: 100%;
	position: relative;
	display: flex;
	align-self: bottom;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

footer .rights {
	width: 100%;
	align-items: flex-end;
}

footer .rights p {
	text-align: start;
	margin-left: 5%;
}

footer .credits {
	width: 100%;
	align-items: flex-end;
}

footer .credits p {
	text-align: end;
	margin-right: 5%;
}